@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

.header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    background-color: #355070;
    color: white;
    font-family: 'Otomanopee One', serif;
}

.headerLeft {
    margin: 5px;
}

.headerRight {
    margin: 5px;
}