.loginbodyForm {
    display: grid;
    flex-direction: column;
    flex: 0.5;
    place-items: center;
}

.loginbodyFormInput {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;
    font-family: serif;
    font-size: 18px;
}

.signUp {
    height: 40px;
    width: 400px;
    border-width: 0px;
    background-color: #eaac8b;
    color: white;
    margin: 20px;
    border-radius: 15px;
    font-size: 18px;
}

.signUp:hover {
    background-color: #e56b6f;
    color: #fff;
    cursor: pointer;
}

.login {
    height: 40px;
    width: 400px;
    background-color: #b56576;
    color: wheat;
    font-size: 18px;
    border-radius: 15px;
    border-width: 0;
}

.login:hover {
    cursor: pointer;
    background-color: wheat;
    color: #6d597a;
}